<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app dashboard</title>
</head>
{% extends 'layout.html' %}
{% block content %}

<body>
    <h1>Welcome to your Dashboard</h1>
    <h3>URL Shortener</h3>
      <form method="post" action="/shorten_url">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url">
        <button type="submit">Shorten</button>
      </form>
      <p>please enter the url that you want to short!</p>
      {% if redirect_url %}
        <p>Shortened URL: <a href="{{ redirect_url }}">{{ redirect_url }}</a></p>
      {% elif error %}
        <p>Error: {{ error }}</p>
      {% endif %}
    <h3>Logout</h3>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
   

</body>
{% endblock %}
</html>
